body {
  padding-top: 60px;
}
.photoModal {
  height: 90px;
}
.photoCaption {
  height: 30px;
  line-height: 30px;
  padding: 0px 20px;
}
.photoClose {
  height: 20px;
/*  width: 800px;*/
  line-height: 20px;
  padding: 0px 20px;
  text-align: right
}
.photoClose a {
  color: #111;
}
.photoPrev {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.photoNext {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.photoThumb {
  width: 188px;
  height: 188px;
  display: inline-block;
}
.thumbImage {
  box-shadow: 5px 5px 5px #888;
}