---
layout: default
title: Evan Sonderegger on github
---

{% for post in site.categories.blog %}
<article>
<header>
{% if post.link %}
<h1 class="article-title"><a href="{{ post.link }}">{{ post.title }}</a></h1>
{% else %}
<h1 class="article-title">{{ post.title }}</h1>
{% endif %}
<p>posted by: Evan Sonderegger on 
<time datetime="{{ post.date| date: "%Y-%m-%d" }}" pubdate>{{ post.date | date_to_string }}</time>
<a href="{{ post.url }}">&infin;</a></p>
</header>
<div class="article-content">
{{ post.content }}
</div>
</article>
{% endfor %}
