---
layout: default
title: Evan Sonderegger on github
active: home
---
<div class="row">
<div class="span7">
{% for post in site.categories.blog %}
<article>
<header>
{% if post.link %}
<h1 class="article-title"><a href="{{ post.link }}">{{ post.title }}</a></h1>
{% else %}
<h1 class="article-title">{{ post.title }}</h1>
{% endif %}
<p>posted by: Evan Sonderegger on 
<time datetime="{{ post.date| date: "%Y-%m-%d" }}" pubdate>{{ post.date | date_to_string }}</time>
<a href="{{ post.url }}">&infin;</a></p>
</header>
<div class="article-content">
{% if post.intro %}
{{ post.intro }}
<p><a href="{{ post.url }}">read more</a></p>
{% else %}
{{ post.content }}
{% endif %}
</div>
</article>
{% endfor %}
</div>
<div class="span4">
<div class="well">
<h3>Hi, I'm Evan Sonderegger.</h3>
<p>I'm an audio engineer who dabbles in video, photography, and web design/development.</p>
<p>If you'd like to find out more about me, you can follow me on:<p>
<a class="btn" href="http://twitter.com/esonderegger">Twitter</a>
<a class="btn" href="http://github.com/esonderegger">Github</a>
<a class="btn" href="http://www.gearslutz.com/board/members/97424-ebs-audio/">Gearslutz</a>
</div>
</div>
</div>